# Zig build artifacts
zig-cache/
zig-out/
.zig-cache/

# Build artifacts
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

documentation.md
